body{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  overflow-x: hidden;
}

.calculator{
  position: relative;
  width: 350px;
  height: 600px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #191b28;;
  
}
}
.display-box{
    background-color: #fff;
    border: solid gold 1px;
    border-radius: 1px;
    height: 30%
}
#results{
    height: 60%;
}
#btn{
    background-color: red;
}
input[type="button"]{
    background-color: gold;
    color: #fff;
    border: none;
    border-radius: 2px;
    height: 30%;
    padding: 10px;
    margin: 10px;
    outline: none;
}
@media screen and (max-width: 700px) {
     body{
        justify-content: center;
        align-items: center;
     }
    .calculator{
        width: 300px;
        height: 600px;
    }
}
